*{
    margin:0;
    padding:0;
}
main{
font-family: 'Merriweather Sans', sans-serif;    
}
.navb img{
    width:40%;
}
.navb{
    background-color: rgb(248, 236, 222);
    font-size: 77%;
}
.company-intro{
    width:35%;
    margin-top:5%;
}
.company-intro p{
    font-size:85%;
}
.tagline{
    color:rgb(240, 165, 66)
}
.tagline1{
    color:rgb(27, 27, 97)
}
.intro-button{
    font-size: 75%;
    width:110px;
    height: 45px;
    border-radius: 7px;
    background-color: rgb(77, 151, 77);
}
.intro-button img{
    width:17%;
   margin-right: 5px;
}
.company-intro1 img{
    width: 70%;
    margin-top: 0;
    margin-bottom: 80px;
}
.card-footer{
    border:none;
    display: flex;
}
h1{
    color:rgb(240, 165, 66)
}
.women{
    border-radius: 20px;
    border: none;
}
.women-cloth{
    height:55%;
    width:90%;
    margin:auto;
    background-color: rgb(240, 230, 230);
    padding:5% 10%;
    margin:5% 5%;
    border:none;
    border-radius: 20px;
}
h4{
    color:rgb(27, 27, 97)
}
@media (max-width:668px){
    .last-image{
            width:200%;
    }
    .last-content{
        text-align:center;
        
    }
}